<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hcode.hoj.mapper.UserContestRatingMapper">

    <select id="getContestRatingRank" resultType="top.hcode.hoj.pojo.vo.RatingRankVO">
        SELECT u.uuid AS uid,
               u.username AS username,
               u.nickname AS nickname,
               u.avatar AS avatar,
               u.title_name AS titleName,
               u.title_color AS titleColor,
               u.signature AS signature,
               r.rating AS rating,
               r.contest_count AS count
        FROM user_contest_rating r
                 INNER JOIN user_info u ON u.uuid = r.uid
        <where>
            <if test="searchUser != null and searchUser != ''">
                (u.username LIKE CONCAT('%', #{searchUser}, '%')
                    OR u.nickname LIKE CONCAT('%', #{searchUser}, '%'))
            </if>
        </where>
        ORDER BY r.rating DESC, r.contest_count DESC, u.username ASC
    </select>

</mapper>
